html * {
 margin: 0; padding: 0; border: 0;
}

body {
font-family: verdana, arial;
font-size: 12px;
margin: 1em;	
border: 1px solid #E6E6E6;
}

#head {
 padding: 0;
 background-color: #FFF;
 border-bottom: 3px solid #383D86;
 width: 100%
}

#head h1 {
 margin-bottom: .4em;
}
	
#head .remark {
 font-size: .8em;
 font-style: italic;
}	
	
h1 {
 background-color: #383D86;
 color: #FFF;
 font-size: 1.4em;	
 text-align:center;
 padding: .3em;
}

h2 {
 margin-top: 1em;
 font-size: 1.2em;
 padding: .3em;
 border-bottom: 1px solid #EEE;
}

h3 {
 margin-top: 1em;
}

img {
 margin: 0.5em auto;
}

.img {
 text-align: center;
 padding: .5em;
}

/*
Tables 
*/

table[align="center"] {
 margin: 1em auto;
}

caption {
white-space: nowrap;
font-size: 1.2em;
text-align: center;
margin: .8em auto .2em auto;
caption-side: top;
}

.caption-table {
 text-align: center;
 font-size: 1.1em;
 margin: .5em auto 0 auto;
}


table {
 font-size: 1em;
 font-family: Arial, Helvetica,Times, Helvetica, sans-serif; 
}

td, th {
 text-align:center;
 padding: .6em;
 background: #FFF; 
 color: #222;
}

tr.firstline th {
 font-weight: bold;
 background: #FFF;
 border-top:1px solid #AAA;
 border-bottom:1px solid #AAA;
 border-left:1px solid #CCC;
 font-size: 1.1em;
 text-align: center;
 padding: .6em;
}

TR.ListBackTitle {
 color: #FFFFFF; 
 background: #000000;
 text-align:left;
 font-weight: bold
}

td.ListBackMain {
 background: #00ff7f; 
 padding:0 0
}

td.firstcolumn {
 padding: .8em;
 background: #F2F2F2;
 text-align: center;
 font-weight: bold
}

td.cellinside {
 background: #FFF;
 text-align:center;
 padding: .5em;
}

table.table td {
 padding: .4em .7em;
}


.dataframe table.innerdataframe, .dataframe  table.table {
 border-right: 1px solid #EEE;
 margin: .5em auto;
 border-collapse: collapse;
}

table.innerdataframe td, table.dataframe td {
 border-left: 1px solid #CCC;
 border-bottom: 1px solid #EEE;
}

table.innerdataframe tr.last-row td, table.dataframe tr.last-row td {
background-color: #EEE;
border-top: 1px solid #CCC;
font-weight: bold;
}	

table.innerdataframe tr:hover td {
 background-color: #F9A03B;
}

div.dataframe {
 text-align: center;
 margin: 1em;
 padding: 1em;
}

div.dataframe p.title {
 font-size: 1em;	
}

div.dataframe p {
 padding: 0;
 margin: 0;
}


.block {
 margin: 1em;
 border-left: 2px solid #CCC;
 border-bottom: 1px solid #CCC;
 padding: .5em;
}

.block h2 {
 font-size:1.2em;
 text-align: center;
 color: #383D86;
 border-bottom: 1px solid #383D86;
 margin-top: 1.2em;
}

.block ul {
 margin-left: 1.6em;
}

.block.htest {
 border: 1px solid #A18159;
 background-color: #FCE6AA;
 font-size: 0.9em;
 color: #484E32;
 margin-left: 2em;
 width: 50em;
}

.block.htest h2 {
 color: #484E32;
 border-bottom: 1px solid #A18159;
}

.block.xfreq, .block.table {
 border-right: 1px solid #EEE;
 margin: .5em auto;
 border-collapse: collapse;
}

p {
 margin: .3em;
}

p.title {
text-align: center;
font-size: 1.1em;
}


.freq-table, .xfreq, .table {
 margin: .5em auto;
 width: 50%;
 min-width: 50%;
 border: 1px solid #DDD;
 padding: .5em;
}

.freq-table table, .freq-table .dataframe, .xfreq table, .xfreq .dataframe  {
 margin: 0 auto;
 padding: 0;
}

.dimname {
 font-style: italic;
 font-weight: bold;
}

.dimname-top {
 text-align: center;
}

.dimname-left {
 vertical-align: top;
 text-align: right;
}

.freq-table .missing, .freq-table .missing {
 margin: 0;
 text-align: center;
 font-size: .9em;
 font-style: italic;
}

.missing li {
 display: inline;
}

figure {
 padding: .4em;
 border: 1px solid #DDD;
 margin-top: .5em;
 text-align: center;
}

.graph img {
 max-width: 900px;
 max-height: 900px; 
}

/*
* Alerts from Bootstrap 3.3.2
*/
.alert {
padding: 15px;
margin-bottom: 20px;
border: 1px solid rgba(0, 0, 0, 0);
border-radius: 4px;
}

.alert-success {
color: #3C763D;
background-color: #DFF0D8;
border-color: #D6E9C6;
}

.alert-info {
color: #31708F;
background-color: #D9EDF7;
border-color: #BCE8F1;
}

.alert-warning {
color: #8A6D3B;
background-color: #FCF8E3;
border-color: #FAEBCC;
}

.alert-danger, .alert-error {
color: #A94442;
background-color: #F2DEDE;
border-color: #EBCCD1;
}
